@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}
html{
    scroll-behavior: smooth;
}
body{
    width: auto;
}

/* utilities  */
.my-button{
    outline: none;
    border: none;
    padding: 4px 6px;
    font-size: 1.1rem;
    font-weight: 600;
    background: rgb(182, 207, 240);
    color: black;
    border-radius: 13px;
    letter-spacing: 1px;
    font-family: 'Staatliches', cursive;
}
.my-button:hover{
    background: linear-gradient(to left, rgb(156 9 77), rgb(70 108 221));
    color: rgb(220, 243, 247);
}
h2{
    padding: 0 9px;
    border-left: 2px solid rgb(64, 34, 197);
    border-right: 2px solid rgb(64, 32, 197);
}
.sale{
    font-size: 20px;
    color: rgb(247, 17, 113);
    /* box-shadow: 0 0 4px blue; */
    font-weight: 700;
    border-top: 2px solid rgb(37, 8, 202);
    border-bottom: 2px solid rgb(31, 28, 170);
    letter-spacing: 2px;
}
.blur-text{
    opacity: .6;
    color: rgb(96, 41, 199);
}
del{
    opacity: .6;
    font-size: 13px;
}

/* navigation  */
.navbar{
    box-shadow: 0 0 .3rem black;
}
.navbar .logo1-span{
    color: rgb(24, 116, 28);
    text-shadow: 0 0 2px rgb(19, 233, 48);
}
.navbar .logo2-span{
    color: black;
}
.navbar .navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
}
.collapse .navbar-nav .nav-item .nav-link{
    font-weight: 600;
}
.collapse .navbar-nav .nav-item .nav-link:hover,
.collapse .navbar-nav .nav-item .nav-link.active
{
    color: rgb(9, 12, 145);
    border-bottom: 1px solid black ;
}
.navbar-toggler:focus{
    box-shadow: none;
}

/* home slider */
.home .home-banner-1,
.home .home-banner-2,
.home .home-banner-3{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 520px;
    /* background-position: center; */
}
.home .home-banner-1{
    background-image: url(img/bgimg5.jpg);
}
.home .home-banner-2{
    background-image: url(img/bgimg8.jpg);
}
.home .home-banner-3{
    background-image: url(img/bgimg7.jpg);
}
.home .home-banner-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-90% , -50%);
}
.home .home-banner h1{
    font-size: 4.5rem;
    font-family: 'Rampart One', cursive;
}
.home .home-banner h1 span{
    color: rgb(236, 26, 173);
}
.home .carousel-indicators [data-bs-target]{
    background-color: rgb(7, 5, 121);
    height: .3rem;   
}
.home .carousel-control-next-icon,
.home .carousel-control-prev-icon{
    background:transparent;
}
.home .slider-icon{
    padding: 3px 8px;
    background:rgb(7, 5, 121);
    color: white;
}

/* counter  */
.counter-sec{
   background: linear-gradient(to top, #c32d57, #8b0280);
}
.counter-sec p,
.counter-sec h3{
    color: white;
}
#count1{
    margin-top: 4px;
}
.counter-sec p{
    font-size: 1.4rem;
    color: #81cedb;
}

/* products  */
.product .container .more-products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid rgb(33, 17, 128) ;
}
.product .container .more-products a{
    font-weight: 500;
    letter-spacing: 1px;
    /* box-shadow: 0 0 8px rgb(185, 91, 194); */
}
.product .container .more-products a:hover{
    color: rgb(255, 255, 255);
    background: linear-gradient(to top, #c32d57, #8b0280);
    border-radius: 10px;
    padding: 0 6px;
}
.product{
    margin-top: 16px;
}
.product a{
    text-decoration: none;
    color: rgb(155, 49, 113);
}
.product .headline{
    padding-bottom: 20px;
}
.product .container h4{
 color: rgb(83, 6, 73);
}
.product .shop-icon{
    font-size: 21px;
    color: #d94bb4;
}
.product .product-list del{
    padding-left: 14px;
}
.product .product-list p{
    font-weight: 500;
}
.product .product-img{
    margin-top:5px;
}
.product .row .product-box{
    margin-top: 0;
    margin-bottom: 23px;
}

.wishlist{
    position: absolute;
    right: 20%;
}
.wishlist i:hover{
    color: rgb(236, 163, 234);
}
.wishlist i{
    letter-spacing: 2px;
}

/* offers  */
/* current  */
.offer .c-offer .card1,
.offer .c-offer .card2,
.offer .c-offer .card3{
    position: absolute;
   top: 30%;
   left: 20%;
   color: white;

}
.offer .c-offer .card1 h3,
.offer .c-offer .card2 h3,
.offer .c-offer .card3 h3{
    font-size: 2.6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.card::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
/* upcoming  */
.upcoming{
    padding: 2rem 2rem ;
}
.upcoming .countdown{
   padding: 43px 23px;
}
.upcoming .countdown p{
    color: rgb(219, 24, 131);
}
.upcoming .countdown h4{
    margin: 23px 0;
    letter-spacing: 2px;
    color: rgb(243, 1, 170);
    font-weight: 600;
}
.upcoming .countdown li{
    display: inline-block;
    padding: 0px 8px;
    font-size: 2rem;
    font-weight: bold;
}
.upcoming .box-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.upcoming .price{
    font-weight: 600;
}
.upcoming .upcoming-img{
    box-shadow: 0 0 2px rgb(228, 14, 156);
}
.upcoming .countdown span{
    color: rgb(177, 7, 100);
}

/* review  */
.review .carousel-control-prev-icon,
.review .carousel-control-next-icon{
    background: transparent;
}
.review .slider-icon{
    padding: 3px 6px;
    background:rgb(121, 5, 82);
    color: white;
}
.review .box{
    padding: 9px 39px;
    margin: 2px 63px;
}
.review .box p{
    opacity: .8;
}
.review .box h4{
    font-size: 1.68em;
}

/* address  */
.address .more-products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
}
form{
    padding: 0 56px;
    margin: 0 56px;
}
form label{
    color: rgb(243, 1, 170);
    font-size: 1.1rem;
}

/* contact  */
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-box input,
.contact-box textarea{
    width: 100%;
}
.contact-box input{
    letter-spacing:1px ;
}
.form-group{
    padding-bottom: 12px;
}

/* footer item  */
.footer .footer-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem,1fr));
    gap: 2rem;
    background: linear-gradient(to left, rgb(224, 17, 155), rgb(180, 5, 136));
}
.footer .footer-item{
    padding: 23px 20px;
    margin: 0 23px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}
.footer .footer-item a{
    color: rgb(255, 218, 243);
    text-decoration: none;
}
.footer .footer-item a:hover{
    color: #81cedb;
}
.footer .footer-item .footer-icons a{
    padding: 0 4px;
}

/* credit  */
.copyright{
    text-align: center;
    background: rgb(218, 39, 113);
    color: white;
}

/* scroll  */
#scrollBtn{
    position: fixed;
    right: 5%;
    bottom: 3%;
    height: 2rem;
    border-radius: .34rem;
    cursor: ponter;
    z-index: 1000;
    text-align: center;
    background: rgb(133, 0, 173);
    display: none;

}
#scrollBtn span{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px; 
    line-height: 2rem;
}
#scrollBtn.active{
    display: block;
}

/* RESPONSIVE  */
@media (max-width:1130px){
    /* home  */
.home .home-banner-1,
.home .home-banner-2,
.home .home-banner-3{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 650px;
    background-position: 70% center;
}
.home .home-banner h1{
    font-size: 3.5rem;
    font-family: 'Rampart One', cursive;
}
.home .home-banner-text{
    transform: translate(-75% , -50%);
}

.offer .c-offer .card1 h3,
.offer .c-offer .card2 h3,
.offer .c-offer .card3 h3{
    font-size: 1.6rem;
}
}

@media (max-width:700px){
    /* home  */
.home .home-banner-1,
.home .home-banner-2,
.home .home-banner-3{
    min-height: 500px;
    background-position: 50% center;
}
.home .home-banner-text{
    transform: translate(-70% , -40%);
}
.home .home-banner h1{
    font-size: 2.5rem;
}
.offer .card{
    margin: 0 20px;
}
.upcoming .box-cont{
    flex-direction: column;
}
.wishlist{
    right: 10%;
}
}

@media (max-width:500px){
    /* home  */
    .home .home-banner-1,
    .home .home-banner-2,
    .home .home-banner-3{
        min-height: 300px;
        background-position: 40% center;
    }
    .home .home-banner-text{
        transform: translate(-60% , -50%);
    }
    .home .home-banner h1{
        font-size: 1.5rem;
    }
    .home .home-banner h3{
        font-size: 1rem;
    }
    .my-button{
        padding: 4px 6px;
    font-size: 12px;
    }
    .wishlist{
        right: 5%;
    }
    .review .box{
        padding: 0;
        margin-left: 37px;
    margin-right: 9px;
    }
    .upcoming-img img{
        width: 290px;
    }
    h2{
        font-size: 1.3rem;
    }
    .headline{
        margin: 30px 0;
    }
    .my-button{
        font-size: 13px;
    }
    .contact-box input,
.contact-box textarea{
    width: auto;
}
.copyright{
    font-size: 12px;
}
}
@media (max-width:320px){
    .home .home-banner-1,
    .home .home-banner-2,
    .home .home-banner-3{
        min-height: 250px;
        background-position: 30% center;
    }
}